body
{
background-color: rgba(200,255,255,1) ;

}
h3{
    color: black;
    display: inline-block;
}
h2{
    color: white;
}
h4{
    color: white;
}
h5{ 
    color: white;}
#wi{
    width: 30%;
    height: 30%;
}
#pro{
    width: 10%;
    height:10%;
}
  #whatsapp-widget-timelines {
    position: fixed;
    bottom: 20px;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 99999999;
  }

  #whatsapp-widget-timelines .ww-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  #whatsapp-widget-timelines .ww-link {
    opacity: 1;
    display: block;
    position:  absolute;
    bottom: -15px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    width: 60px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 11px;
    line-height: 11px;
    border: 0px;
    max-width: inherit;
    color: rgb(175, 175, 175) !important;
  }

  #whatsapp-widget-timelines .ww-link:hover {
    border: 0px;
    text-decoration: underline !important;
    color: rgb(175, 175, 175) !important;
  }

  #whatsapp-widget-timelines .ww-text {
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    min-height: 56px;
    width: 200px;
    cursor: pointer;
    word-break: break-word;
    background: white;
    padding: 1rem;
    position: relative;
    box-shadow: 2px 2px 15px 2px rgb(0 0 0 / 17%);
  }

  #whatsapp-widget-timelines .ww-text::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
  }

  #whatsapp-widget-timelines svg {
    fill: rgb(255, 255, 255);
    z-index: 1;
    border-radius: 50px;
    background-color: rgb(77, 194, 71);
    box-shadow: rgb(0 0 0 / 40%) 2px 2px 6px;
    cursor: pointer;
  }

  #whatsapp-widget-timelines.ww-right .ww-text::after {
    right: -10px;
    transform: translateY(-50%) rotate(-45deg);
  }

  #whatsapp-widget-timelines.ww-left .ww-text::after {
    left: -10px;
    transform: translateY(-50%) rotate(135deg)
  }

  #whatsapp-widget-timelines.ww-left {
    left: 20px;
    flex-direction: row-reverse;
  }

  #whatsapp-widget-timelines.ww-right {
    right: 20px;
    flex-direction: row;
  }

  #whatsapp-widget-timelines.ww-big svg {
    height: 75px;
    width: 75px;
  }

  #whatsapp-widget-timelines.ww-medium svg {
    height: 65px;
    width: 65px;
  }
  @media(max-width: 768px){
    #whatsapp-widget-timelines{
      gap:1rem;
    }
    #whatsapp-widget-timelines svg{
      width: 50px!important;
      height: 50px!important;
    }
    #whatsapp-widget-timelines .ww-text{
      padding: 0.5rem  1rem;
      min-height: 35px;
    }
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#h{
    background-color: rgba(0,58,60,1);
       text-align: center;
}
#1{
    color: black;
}
#3{
    color: black;
}
#2{
    color: black;
}
html{
    scroll-behavior: smooth;
}
#cu{
    background-color: rgba(0,58,60,1);
}
#a{
    font-size: 15px;
}
img{
    width: 40%;
    height: 40%;
}
#m{
   text-align: center; 
}
#c{
    font-size: 25px;
}
p{
    color: white;
}
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}